@model IEnumerable<cafeSite2.Models.Contact>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<p>

	<table class="table">
		<thead>
			<tr>
				<th>
					Adı
				</th>
				<th>
					Email
				</th>
				<th>
					Telefon
				</th>
				<th>
					Mesaj
				</th>
				<th>
					Tarih
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.name)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.eMail)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.mesaj)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.telefon)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Tarih)
					</td>
					<td>
						<a asp-action="Delete" asp-route-id="@item.id" class="btn btn-danger">Sil</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
